/* Base Application Styles */
body {
  padding: 0;
  margin: 0;
  /*color: #fff;
  background: #222;*/
}

a {
  text-decoration: none;
}

.mod-articles img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.mod-articles {
  margin: 3% 10% 0 10%;
}

.mod-articles header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.mod-articles ul {
  list-style: none;
  line-height: 30px;
}
